@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f5f5f5;
    position: relative;
    overflow-x: hidden;
}

.circles {
    position: absolute;
    top: -55%;
    right: 74%;
    width: 100px;
    height: 100px;
    overflow: hidden;

    >div {
        animation: growAndFade 3s infinite ease-out;
        background-color: dodgerblue;
        border-radius: 50%;
        height: 100%;
        opacity: 0;
        position: absolute;
        width: 100%;
    }

    .circle1 {
        animation-delay: 1s;
    }

    .circle2 {
        animation-delay: 2s;
    }

    .circle3 {
        animation-delay: 3s;
    }
}

@keyframes growAndFade {
    0% {
        opacity: .25;
        transform: scale(0);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}



.home {
    background-image: url('../images/magicpattern-grid-pattern.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100svh;
}

.button {
    background: rgb(11, 66, 241);
    background: linear-gradient(90deg, rgba(11, 66, 241, 1) 0%, rgba(0, 142, 171, 1) 92%);
}

.button1 {
    background: linear-gradient(rgb(4, 0, 44), rgb(4, 0, 44)) padding-box,
        linear-gradient(141deg, rgba(100, 14, 250, 1) 46%, rgba(7, 176, 210, 1) 92%) border-box;
    border: 3px solid transparent;
}

.button1:hover {

    background: linear-gradient(141deg, rgba(100, 14, 250, 1) 46%, rgba(7, 176, 210, 1) 92%) border-box;
    border:
        3px solid transparent;
}

.arrow {
    animation: arrow 1.5s infinite ease-in-out;

}

@keyframes arrow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.words {
    position: relative;
    animation: move-words 20s linear infinite;
    display: inline-block;
    text-wrap: wrap;
    white-space: nowrap;
    overflow: visible
}



@keyframes move-words {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}


.spin {
    animation: spin 5.5s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.photo-wrapper {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    overflow: hidden;
    width: 100%;
}

.photo {
    border-radius: 16px;
    overflow: hidden;
    width: 400px;
    height: 300px;
    position: relative;
    flex-shrink: 0;
    transition: transform 0.25s ease;

    & img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    &::after {
        content: "";
        position: absolute;
        top: -1rem;
        bottom: -1rem;
        left: -16rem;
        background: linear-gradient(90deg, transparent, white, transparent);
        width: 16rem;
        opacity: 0;
    }

    &:hover::after {
        left: 100%;
        opacity: 0.15;
        transition: inset 1s;
    }




}


.wrapper {
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background: whitesmoke;
    overflow: hidden;
}

.slider {
    position: absolute;
    inset: 80px 200px 80px 80px;
    /* background: red; */
    border-radius: 20px;
}

.slider .slides {
    position: absolute;
    top: 50%;
    transform: translate(80%, -50%);
    background: var(--img);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 240px;
    height: 320px;
    transition: 800ms ease;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

.slider .slides:nth-child(0),
.slider .slides:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    background-size: cover;
}

.slider .slides:nth-child(2) {
    left: calc(50% + 240px);
    background-size: cover;
}

.slider .slides:nth-child(3) {
    left: calc(50% + 500px);
    background-size: cover;
}

.slider .slides:nth-child(4) {
    left: calc(50% + 760px);
    background-size: cover;
}

.slider .slides:nth-child(5) {
    left: calc(50% + 1020px);
    background-size: cover;
    opacity: 0;
}

.slider .slides:nth-child(6) {
    left: calc(50% + 1280px);
    background-size: cover;
    opacity: 0;
}

.buttons {
    position: relative;
    display: flex;
    gap: 1em;
    bottom: -90%;
}

.buttons span {
    position: relative;
    left: 50%;
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttons span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid white;
    border-left: 4px solid white;
    transform: rotate(135deg);
}

.buttons span:nth-child(1)::before {

    transform: rotate(-45deg);
    translate: 2px;
}

.buttons span:active {
    opacity: 0.5;
}

.content {
    position: relative;
    top: 40%;
    padding: 40px;
    max-width: 600px;
    transition: 1s ease-in-out;
    transform: translateY(40px);
    z-index: 1000;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);

}



.content h2 {
    font-size: 4rem;
    color: white;
}

.content p {
    color: white;
}

.slider .slides:nth-child(0) .content,
.slider .slides:nth-child(1) .content {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.3s;

}

@media (width<900px) {
    .slider {
        position: absolute;
        inset: 30px 30px 180px 30px;
    }

    .slider .slides {

        top: initial;
        transform: translate(10%, -50%);
        width: 100px;
        height: 100px;
        bottom: -160px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    }

    .buttons {
        left: -10%;
    }

    .slider .slides:nth-child(0),
    .slider .slides:nth-child(1) {
        top: initial;
        bottom: 0px;
    }

    .slider .slides:nth-child(2) {
        left: 0;
    }

    .slider .slides:nth-child(3) {
        left: 120px;
    }

    .slider .slides:nth-child(4) {
        left: 240px;
    }

    .slider .slides:nth-child(5) {
        left: 360px;
    }

    .slider .slides:nth-child(6) {
        left: 500px;
    }

    .content {
        top: 55%;
    }
}

.circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 100vh;

    z-index: -1;
}

.circle {
    position: absolute;
    animation: circle1 10s linear infinite;
    z-index: -1;
    animation-delay: calc(1s * 5);
    mix-blend-mode: color-dodge;
    animation-timing-function: ease-in-out;

}

.circle:nth-child(1) {
    top: 0;
    left: 0;
}

.circle:nth-child(2) {
    top: 0;
    right: 0;
}

.circle:nth-child(3) {
    bottom: 0;
    left: 0;
}

.circle:nth-child(4) {
    bottom: 0;
    right: 0;
}

.circle:nth-child(5) {
    top: 0;
    left: 0;
}

.circle:nth-child(6) {
    top: 0;
    right: 0;
}

@keyframes circle1 {
    0% {
        transform: rotate(0deg) translate(-50%, -50%);

    }

    100% {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}



.likes,
.likes1 {
    background-image: url('../images/like3d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: like 10s linear infinite;
    bottom: 0;
    left: 40%;
}

.likes1 {
    left: 35%;
}

.hearts,
.hearts1 {
    background-image: url('../images/heart3d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: heart 10s linear infinite;
    bottom: 0;
    right: 40%;
}

.hearts1 {
    right: 35%;
}


@keyframes like {
    0% {
        transform: translateY(0);

    }

    100% {
        transform: translateY(-4000%);

    }
}

@keyframes heart {
    0% {
        transform: translateY(0);

    }

    100% {
        transform: translateY(-4000%);

    }
}